/*  your css code here. If applicable */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5f5f5;
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  height: 80vh;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in;
}

.panel.active {
  flex: 5;
}

.img-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 22px;
  opacity: 0;
  transition: opacity 0.3s ease-in 0.3s;
}

.panel.active .img-text {
  opacity: 1;
}
